<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'All Posts' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="all-posts">
      <h1>All Posts</h1>
      <% if (!posts || posts.length === 0) { %>
      <p>No posts found! Create some!</p>
      <a class="btn" href="/new-post">Create a new one!!</a>
      <% } else { %>
      <ol id="posts-list">
        <% for (const post of posts) { %>
        <li><%- include("includes/post-item", { post: post }) %></li>
        <% } %>
      </ol>
      <% } %>
      <!-- what the above does is runs through a for of loop going through the posts and posting them, the list item will include the post item from the post-item file -->
    </main>
  </body>
</html>
